.header{
    display:flex;
    justify-content: space-between;
    font-size: 1rem;
    &__caption{
        margin: 0;
    }
    &__caption, a{
        margin-right: 10px;
       color:antiquewhite;
    }
    a{
        text-decoration: none;
        &:hover {
            background-color: rgb(65 91 119 / 35%);
        }
       
    }
    .active{
        background-color: rgb(65 91 119 / 35%);
    }

}